<br><br><br>

<footer>
  <a href="/about" rel="noreferrer">
    <span class="material-icons-outlined">info</span> About
  </a>
  <a href="/privacy">
    <span class="material-icons-outlined">visibility</span> Privacy Policy
  </a>
  <a href="https://github.com/WhateverItWorks/LibreOdysee" rel="noreferrer">
    <span class="material-icons-outlined">code</span> Source Code
  </a>
</footer>
