<header>
  <a href="/">
    <img src="/static/img/librarian.svg" height="72" class="logo" />
  </a>
  <form action="/search" method="POST">
    <input type="text" placeholder="Search" name="q" value="{{query.query}}" class="searchBar" id="searchBar"/>
  </form>
  <a href="/settings">
    <span class="material-icons-outlined settingsIcon">settings</span>
  </a>
</header>

<br>