<!DOCTYPE html>
<html lang="en">

<head>
  {{> 'partials/head' }}

  <link rel="stylesheet" href="/static/css/error.css" />

  <title>Error - Librarian</title>
</head>

<body>
  {{> 'partials/header' }}

  <main>
    <h2>An error occurred.</h2>
    <p>You may have found a bug in Librarian. If this is a bug, open an issue on <a href="https://codeberg.org/librarian/librarian/issues/new">Codeberg</a>.</p>
    <code>{{{err}}}</code>
  </main>

</body>

</html>