<!DOCTYPE html>
<html lang="en">

<head>
  {{> 'partials/head' }}

  <link rel="stylesheet" href="/static/css/error.css" />

  <title>Blocked - LibreOdysee</title>
</head>

<body>
  {{> 'partials/header' }}

  <main>
    <h2>Access to this content has been blocked.</h2>
    <p>This is likely due to a request under the Digital Millennium Copyright Act. If you believe this was mistake,
      contact the instance operator.</p>
    <p>Claim ID: {{claim.Id}}</p>
  </main>

</body>

</html>
