<!DOCTYPE html>
<html lang="en">

<head>
  {{> 'partials/head' }}
  
  <link rel="stylesheet" href="/static/css/error.css" />

  <title>Paid content - LibreOdysee</title>
</head>

<body>
  {{> 'partials/header' }}

  <main>
    <h2>Paid content</h2>
    <p>Paid content cannot be viewed in LibreOdysee. You can view this on Odysee with the button below.</p>
    <a href="{{claim.OdyseeUrl}}" rel="nofollow noreferrer">
      <button class="btn">
        <span class="material-icons-outlined">open_in_new</span>
        Odysee
      </button>
    </a>
  </main>
</body>

</html>
