<!DOCTYPE html>
<html lang="en">

<head>
  {{> 'partials/head' }}
  
  <link rel="stylesheet" href="/static/css/error.css" />

  <title>Live streams disabled - LibreOdysee</title>
</head>

<body>
  {{> 'partials/header' }}

  <main>
    <h2>Livestreams are disabled on this instance</h2>
    
  </main>
</body>

</html>
