<!DOCTYPE html>
<html lang="en">

<head>
  {{> 'partials/head' }}

  <link rel="stylesheet" href="/static/css/error.css" />

  <title>Content not found - LibreOdysee</title>
</head>

<body>
  {{> 'partials/header' }}

  <main>
    <h2>Content not found</h2>
    <p>Head back <a href="/">home</a>?</p>
  </main>

</body>

</html>
