.channelThumbnail {
  object-fit: scale-down;
}

.noResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.noResults h2 {
  margin-bottom: 0;
}

.nextBtn { 
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer; 
  font-size: 1em;
}