:root {
  --text: #000;
  --bg-100: #f1f1f1;
  --bg-200: #e1e1e1;
}

body {
  background-color: #fff;
  color: #000;
}

.logo {
  filter: none;
}

.comments__expandBtn__label {
  color: #000
}
.spinner:after {
  border: 3px solid #000;
  border-color: #000 transparent #000 transparent;
}

.badge {
  background-color: var(--bg-100);
}

.streamOffline {
  background-color: --var(--purple);
}

select {
  color: #000;
}